<!-- readstor
group: using-backlinks
context: annotation
structure: nested-grouped
extension: md
name-templates:
  book: "{{ book.author }} - {{ book.title }}"
  annotation: "{{ annotation.metadata.slugs.created }}-{{ book.slugs.title }}"
  directory: "{{ book.author }} - {{ book.title }}"
-->

---
title: {{ book.title }}
author: {{ book.author }}
tags: {{ annotation.tags | join(sep=" ") }}
id: {{ annotation.metadata.id }}
book-id: {{ annotation.metadata.book_id }}
created: {{ annotation.metadata.created | date(format="%Y-%m-%dT%H:%M") }}
modified: {{ annotation.metadata.modified | date(format="%Y-%m-%dT%H:%M") }}
location: {{ annotation.metadata.location }}
epubcfi: {{ annotation.metadata.epubcfi }}
---

# [[{{ links.book }}]]

{{ annotation.body }}

{% if annotation.notes %}notes: {{ annotation.notes }}{% endif -%}
{%- if annotation.tags %}tags: {{ annotation.tags | join(sep=" ") }}{% endif -%}
