<!-- readstor
group: nested
context: book
structure: nested-grouped
extension: md
name-templates:
  book: "{{ book.author }} - {{ book.title }}"
  annotation: "{{ annotation.metadata.slug_created }}-{{ book.slug_title }}"
  directory: "{{ book.author }} - {{ book.title }}"
-->

---
title: {{ book.title }}
author: {{ book.author }}
id: {{ book.metadata.id }}
last-opened: {{ book.metadata.last_opened | date(format="%Y-%m-%dT%H:%M") }}
---

# [[ {{ links.book }} ]]

{% for _, link in links.annotations -%}
![[ {{ link }} ]]
{% endfor %}
