<!-- readstor
group: using-partials
context: book
structure: flat-grouped
extension: md
name-templates:
  directory: "{{ book.author }} - {{ book.title }}"
-->

{% include "using-partials/_book.jinja2" %}

{% include "using-partials/_annotation.jinja2" %}
