Title: {{ source.title }}
Author: {{ source.author }}
Exported: {{ date_exported }}

{% for annotation in annotations %}

{{ annotation.body | replace("\n", "\n\n") }}

notes: {{ annotation.notes }}
style: {{ annotation.style }}

{% if not loop.last %}---{% endif %}

{% endfor %}
